<div class="row" ng-controller="treeCtrl">
  <div class="col-md-6">
    <div ba-panel ba-panel-title="Basic Action" ba-panel-class="with-scroll tree-panel">
      <div class="row">
        <div class="col-sm-4">
          <div class="control-side text-center">
            <div>
              <button class="btn btn-primary" ng-click="addNewNode()">Add</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="collapse()">Collapse All</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="expand()">Expand All</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree="basicTree" tree-events="ready:readyCB"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div ba-panel ba-panel-title="Drag & Drop" ba-panel-class="with-scroll tree-panel">
      <div js-tree="dragConfig" ng-model="dragData"></div>
    </div>
  </div>
</div>
</div>
