<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
  <a href="#/dashboard" class="al-logo clearfix"><span>Avito</span> Survey Admin</a>

  <div class="user-profile clearfix">
    
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img src="{{user.picture}}">
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/main/profile"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href><i class="fa fa-cog"></i>Settings</a></li>
        <li><a href="#/logout" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>

    <msg-center></msg-center>
  </div>
</div>