.page-top {
  @include bg-translucent-dark(0.5);
  padding: 0;
  position: relative;
  z-index: 904;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  height: 66px;
}

a.al-logo {
  color: #ffffff;
  text-decoration: none;
  padding-right: 4px;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  width: 180px;
  text-align: center;
  line-height: 60px;

  span {
    color: #41bee9;
  }
}

.user-profile {
  float: right;
  min-width: 220px;
  margin-top: 10px;
  margin-right: 31px;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  width: 36px;
  height: 36px;
  border: 0;
  opacity: 1;
  position: relative;
  a {
    display: block;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

a.refresh-data {
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  font-weight: normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: #fff;
  width: 18px;
  padding: 0;
  float: left;
  margin-left: 9px;
  margin-top: 11px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.search {
  text-shadow: none;
  color: #fff;
  font-size: 13px;
  line-height: 25px;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  width: 162px;
  float: left;
  margin-left: 49px;
  margin-top: 20px;

  label {
    cursor: pointer;
  }
  i {
    width: 16px;
    display: inline-block;
    cursor: pointer;
    padding-left: 1px;
    font-size: 16px;
    margin-right: 13px;
  }
  input {
    background: none;
    border: none;
    outline: none;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
  }
}