@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 5px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin bg-nr($relativeUrl) {
  background: url($images-root + $relativeUrl) no-repeat 0 0;
}
@mixin bg-image($relativeUrl) {
  background: url($images-root + $relativeUrl);
}

@mixin main-background() {
  $mainBgUrl: $images-root + 'green-bg.jpg';
  background: url($mainBgUrl) no-repeat top center fixed;
  background-size: cover;
}

@mixin bg-translucent-dark($opacity) {
  background: rgba(0, 0, 0, $opacity);
}

@mixin placeholderStyle($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin overrideColors($color) {
  color: $color;

  p,.pie-charts,.panel-heading>.dropdown .dropdown-toggle, .panel-title, .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a,.traffic-text span, .form-group label {
    color: $color;
  }
  .traffic-text {
    color: $warning;
  }
  .feed-message .message-time, .text-muted {
    color: darken($color, 20);
  }
}

@mixin overridePanelBg($color, $borderColor, $dropdownColor) {
  .panel, .panel:hover {
    border-color: $borderColor;
    background-color: $color;
  }

  .progress {
    background: $color;
  }

  .dropdown-menu {
    background-color: $dropdownColor;
  }
}