$font-family: 'Roboto', sans-serif;

$primary: #005562 !default;
$info: #6eba8c !default;
$success: #0e8174 !default;
$warning: #b9f2a1 !default;
$danger: #ffa76d !default;
$default: #ffffff !default;

$primary-dark: #003e4b;
$danger-dark: #c37350;
$success-dark: #18524b;
$warning-dark: #8adc68;

$primary-bg: #0d8da2;
$success-bg: #02b6a2;
$danger-bg: #ffcd92;
$info-bg: #a8e6b3;
$warning-bg: #e4fbd3;

$primary-light: #5FBCBB;
$success-light: #85BA54;

$primary-btn: #209e91;
$info-btn: #2dacd1;
$success-btn: #90b900;
$primary-btn: #209e91;
$warning-btn: #dfb81c;
$danger-btn: #e85656;

$accent: #E3FF53;
$activelink: #D6FF8A;
$hoverlink: #9EB546;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$panel-bg: #f8f8f8;
$panel-bg-hover: #fff;

$disabled: #bdbdbd;
$disabled-bg: #e6e6e6;

$default-text: #7b7b7b;
$help-text: #949494;

$border: #dddddd;
$border-light: #eeeeee;
$input-border: #cccccc;
$input-border-focus: #1488b0;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$top-height: 66px;

$small-panel-height: 114px;
$medium-panel-height: 400px;
$extra-medium-panel-height: 550px;
$large-panel-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: '../assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;