$font-family: 'Roboto', sans-serif;

$default: #ffffff !default;
$primary: #209e91 !default;
$info: #2dacd1 !default;
$success: #90b900 !default;
$warning: #dfb81c !default;
$danger: #e85656 !default;

$primary-light: #5FBCBB;
$success-light: #85BA54;

$primary-dark:  #17857a;
$info-dark:  #258ead;
$success-dark:  #7b9e00;
$warning-dark:  #c6a315;
$danger-dark:  #c24848;

$primary-bg:  #63cec3;
$info-bg:  #5abfdd;
$success-bg:  #b5d448;
$warning-bg:  #e8ca52;
$danger-bg:  #f67171;

$primary-charts :#005562;
$success-charts :#6eba8c;
$info-charts    :#0e8174;
$warning-charts :#b9f2a1;
$danger-charts  :#ffa76d;
$default-charts :#ffffff;

$view-total :#242343;


$accent: #E3FF53;
$activelink: $primary;
$hoverlink: $primary-dark;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$panel-bg: #f8f8f8;
$panel-bg-hover: #fff;

$disabled: #bdbdbd;
$disabled-bg: #e6e6e6;

$default-text: #7b7b7b;
$help-text: #949494;

$border: #dddddd;
$border-light: #eeeeee;
$input-border: #cccccc;
$input-border-focus: #1488b0;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$top-height: 66px;

$small-panel-height: 114px;
$medium-panel-height: 400px;
$extra-medium-panel-height: 550px;
$large-panel-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: '../assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;