$font-family:  'Lato', sans-serif;

$primary: #41bee9!default;
$info: #5bc0de!default;
$success: #348779!default;
$warning: #bbcb50!default;
$danger: #9d498c!default;
$default: #e9e9e9!default;

$primary-dark: shade($primary, 66%);
$success-dark: shade($success, 66%);
$warning-dark: shade($warning, 66%);
$danger-dark: shade($danger, 66%);

$primary-light: #5FBCBB;
$success-light: #85BA54;

$primary-bg: tint($primary, 70%);
$info-bg: tint($info, 70%);
$success-bg: tint($success, 70%);
$warning-bg: tint($warning, 70%);
$danger-bg: tint($danger, 70%);

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$panel-bg: #f8f8f8;
$panel-bg-hover: #fff;

$disabled: #bdbdbd;
$disabled-bg: #e6e6e6;

$default-text: #7b7b7b;
$help-text: #949494;

$border: #dddddd;
$border-light: #eeeeee;
$input-border: #cccccc;
$input-border-focus: #1488b0;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 630px;
$resXS: 500px;
$resXXS: 430px;
$resMin: 320px;

$top-height: 66px;

$small-panel-height: 114px;
$medium-panel-height: 400px;
$extra-medium-panel-height: 550px;
$large-panel-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: '../assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;