<div id="surveys" class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="My surveys" ba-panel-class="with-scroll">

				<div ng-if="vm.surveys.length <= 0">
					<button ng-click="vm.goToCreate()" class="btn btn-success btn-lg">
							New survey
           </button>
				</div>

				<table ng-if="vm.surveys.length > 0" class="table table-bordered table-hover table-condensed">
					<thead>
						<tr class="black-muted-bg" >
							<td class="table-id">#</td>
							<td>Title</td>
							<td>Created</td>
							<td>Last edit</td>
							<td>Responses</td>
							<td>Status</td>
							<td>Actions</td>
						</tr>
					<thead>
					<tbody>
						<tr id="{{ survey.id }}" ng-repeat="survey in vm.surveys track by survey.id" class="editable-row" >
							<td>
								{{ $index }}
							</td>
							<td>
								{{ survey.name }}
							</td>
							<td>
								{{ survey.createdAt | date:'shortDate' }}
							</td>
							<td>
								{{ survey.updatedAt | date:'shortDate' }}
							</td>
							<td> {{ survey.responses || 0 }} </td>
							<td> {{ survey.status }} </td>
							<td>
								<button class="status-button btn btn-xs btn-primary" ng-click="vm.editSurvey(survey.id)">Edit</button>
								<button class="status-button btn btn-xs btn-info" ng-if="survey.status == 'Draft'" ng-click="vm.goToSend(survey.id)">Send</button>
								<button class="status-button btn btn-xs btn-info" ng-if="survey.status == 'Draft'" ng-click="vm.goToAnswers(survey.id)">Answers</button>
								<button class="status-button btn btn-xs btn-danger" ng-click="vm.removeSurvey(survey.id)">Remove</button>
							</td>
						</tr>
					</tbody>

				</table>
      </div>

    </div>
  </div>

<div>
