/** Different tabs positions, which were removed from bootstrap */
.tabs-below, .tabs-right, .tabs-left {
  .nav-tabs {
    border-bottom: 0;
  }
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below {
  > .nav-tabs {
    border-top: 1px solid #ddd;

    > li {
      margin-top: -1px;
      margin-bottom: 0;

      > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;

        &:hover, &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}

.tabs-left, .tabs-right {
  > .nav-tabs > li {
    float: none;

    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
  }
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;

  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;

    &:hover, &:focus {
      border-color: #eee #ddd #eee #eee;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #fff;
    }
  }
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;

  > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;

    &:hover, &:focus {
      border-color: #eee #eee #eee #ddd;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #fff;
    }
  }
}

/** /Different tabs positions, which were removed from bootstrap */

.nav-tabs {
  border-bottom: none;
  background-color: #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.nav-tabs > li.with-dropdown {
  > a {
    padding: 0;
  }

  .dropdown-toggle {
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
  }
}

.tab-content {
  padding: 10px 15px;
  background: #ffffff;
}