<div id="surveys" class="widgets">

  <div class="row">
    <div class="col-md-8 col-lg-8">
        <div id="survey-builder" class="panel panel-default bootstrap-panel">
          <div class="panel-heading"><h2 ng-model="survey.name" ng-attr-contenteditable="{{ editmode }}" class="panel-title pull-left">{{ survey.name }}</h2></div>
              <div class="panel-body">
                <p ng-model="survey.description" ng-attr-contenteditable="{{ editmode }}"></p>

                <div id="newElem"></div>

              <div class="control-group col-sm-12 col-xs-12 text-center new-question-container">
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                  <button type="button" class="btn btn-primary btn-with-icon btn-lg" ng-click="addElement('multiple')" ><i class="ion-plus-round"></i>NEW QUESTION</button>
                </div>
                <hr />
                <div id="survey-actions" style="display:none;">
                  <div class="btn-group">
                    <button ng-click="saveSurvey()" class="btn btn-info btn-lg">
                      Save as draft
                      </button>
                  </div>

                  <div class="btn-group">
                    <button ng-click="submitSurvey()" class="btn btn-success btn-lg">
                      Save and next
                      </button>
                  </div>
                </div>
              </div>
              
              <br/>
              <br/>
              <br/>
          </div>
          </div>
        </div>

        <div id="sidebar" class="col-md-4 col-lg-4" style="display:none;">

          <div id="survey-lists" class="panel panel-default bootstrap-panel">
          <div class="panel-heading"><h2 class="panel-title pull-left">Send your survey</h2></div>
              <div class="panel-body">
          
                <div class="form-group">
                  <ui-select multiple ng-model="lists.selected"
                             ng-disabled="false"
                             search-enabled="true"
                             append-to-body="true"
                             class="form-control ">
                    <ui-select-match placeholder="Choose a list">
                      {{$item.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="multipleItem in lists | filter: $select.search">
                      {{multipleItem.name}}
                    </ui-select-choices>
                  </ui-select>
                </div>

                
                   
                   <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
                    <div class="feed-message" ng-repeat="l in lists.selected">
                        <!--<img class="photo-icon" ng-src="{{m.name.split(' ')[0] | profilePicture}}">-->
                        <img class="photo-icon roll-in-blurred-right" ng-src="{{m | profilePicture}}" ng-repeat="m in l.members">
                    </div>
                  </div>

              

                <div class="actions">
                  <div class="btn-group">
                    <button ng-click="sendSurvey()" class="btn btn-success btn-lg">
                      Send the Survey
                      </button>
                  </div>

                  <div class="btn-group">
                    <button ng-click="cancelSending()" class="btn btn-danger btn-lg">
                      Cancel
                      </button>
                  </div>
                </div>
              </div>

              </div> 
          </div>

        </div> 
    </div>
</div>
<script>
 $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
