$font-family:  'Lato', sans-serif;

$primary: #41bee9;
$info: #5bc0de;
$success: #348779;
$warning: #bbcb50;
$danger: #9d498c;
$default: #c9c9c9;

$primary-dark: #1694bf;
$success-dark: #1c4a42;
$warning-dark: #8b992d;
$danger-dark: #632e58;

$primary-light: #5FBCBB;
$success-light: #85BA54;

$primary-bg: #C5ECF9;
$success-bg: #C1DBD7;
$danger-bg: #E1C8DD;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$panel-bg: #f4f4f4;
$panel-bg-hover: #fff;

$disabled: #bdbdbd;
$disabled-bg: #e6e6e6;

$default-text: #585858;
$help-text: #949494;

$border: #dddddd;
$border-light: #eeeeee;
$input-border: #cccccc;
$input-border-focus: #1488b0;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 630px;
$resXS: 500px;
$resXXS: 430px;