.widgets {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.panel {
  border-radius: 0px;
  background-color: $panel-bg;
  position: relative;
  transition: all 0.2s ease;
  margin-bottom: 24px;

  &:hover {
    background: $panel-bg-hover;
  }

  &.animated {
    animation-duration: 0.5s;
  }
}

.panel-heading, .panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  padding: 7px 22px 0px;
  margin-bottom: -5px;
  color: $default-text;
}

.panel-title {
  font-weight: normal;
}

.panel-body {
  padding: 16px 22px;
  @include scrollbars(.5em, #ccc, #fff);
}

.full-width {
  margin: 0 -22px -16px;
}

.horizontal-scroll {
  overflow-x: auto;
  overflow-y: visible;
}

.panel-subtitle {
  font-size: 15px;
  margin-bottom: 16px;
}

.panel-nav {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 2;

  i {
    cursor: pointer;
    font-size: 14px;
    color: #bfbfbf;
    margin-left: 11px;
    display: inline-block;

    &.fa-minus {
      margin-bottom: -1px;
      vertical-align: bottom;
    }

    &:hover {
      color: $default-text;
    }
  }
}