<div class="message-container">
  <div class="message">
    <div class="row">
      <button ng-click="back()" type="button" class="back-button btn btn-default btn-with-icon"><i
          class="ion-chevron-left"></i>Back
      </button>
    </div>
    <div class="person-info row">
      <div class="col-lg-4 col-md-12  no-padding">
        <img ng-src="{{mail.name.split(' ')[0] | profilePicture}}" class="human-picture">

        <div class="name">
          <h2 class="name-h">{{mail.name.split(' ')[0]}}</h2>

          <h2 class="name-h second-name">{{mail.name.split(' ')[1]}}</h2>

          <div>
            <span class="mail-tag tag label {{mail.tag}}">{{mail.tag}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
        <div class="contact-info phone-email">
          <div>
            <i class="ion-iphone"></i>
            <span class="phone">777-777-7777</span>
          </div>
          <div>
            <i class="ion-email"></i>
            <span class="email">{{mail.email}}</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
        <div class="contact-info position-address">
          <div>
            <span class="position">{{mail.position}}</span>
          </div>
          <div>
            <span class="address">12 Nezavisimosti st. Vilnius, Lithuania</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="line"></div>
    <div class="message-details">
      <span class="subject">{{mail.subject}} </span>
      <span class="date">• {{mail.date | date : 'h:mm a MMMM d '}}</span>
    </div>
    <div class="line"></div>
    <div ng-bind-html="mail.body" class="message-body">

    </div>
    <div class="line"></div>
    <div class="attachment" ng-show="mail.attachment">
      <span class="file-links">1 Attachment - <a href>View</a> | <a href>Download</a></span>
      <div>
        <i class="file-icon ion-document"></i>
        <span class="file-name">{{mail.attachment}}</span>
      </div>
    </div>
    <div class="line" ng-show="mail.attachment"></div>
    <div class="answer-container">
      <button type="button" class="btn btn-with-icon" ng-click="showCompose(mail.subject,mail.email,'')"><i class="ion-reply"></i>Reply</button>
      <button type="button" class="btn btn-with-icon" ng-click="showCompose(mail.subject,'',mail.body)"><i class="ion-forward"></i>Forward</button>
      <button type="button" class="btn btn-with-icon"><i class="ion-printer"></i>Print</button>
      <button type="button" class="btn btn-with-icon"><i class="ion-android-remove-circle"></i>Spam</button>
      <button type="button" class="btn btn-with-icon"><i class="ion-android-delete"></i>Delete</button>
    </div>

  </div>
  <div ng-show="!mail">
    <h5 ng-class="text-center">Nothing to show</h5>
  </div>
</div>