.alert{
  font-size: 13px;
  font-weight: $font-light;
  strong{
    font-weight: $font-normal;
  }
  .close{
    margin-top: -3px;
  }
  .alert-link{
    font-weight: $font-normal;
  }
  .control-alert{
    padding-top:10px ;
    button{
      margin-right: 10px;
    }
  }
}

.closeable{
  button{
    color: $input-border;
  }
}

.bg-success {
  background-color: rgba($success,0.85);
  a{
    color: $danger;
    &:hover{
      color: $danger-dark;
    }
  }
}
.bg-info {
  background-color: rgba($info,0.85);
  a{
    color: $warning;
    &:hover{
      color: $warning-dark;
    }
  }
}
.bg-warning {
  background-color: rgba($warning,0.85);
  a{
    color: $danger;
    &:hover{
      color: $danger-dark;
    }
  }
}
.bg-danger {
  background-color: rgba($danger,0.85);
  a{
    color: $primary-light;
    &:hover{
      color: $primary;
    }
  }
}