.letter-layout{
  margin-top: -15px;
}

.mail-panel {
  .panel-content {
    padding: 15px 22px 0 0;
  }
}

.mail-navigation-container {
  width: 300px;
  .mail-navigation {
    cursor: pointer;
    font-weight: 100;
    font-size: 16px;
    padding: 10px;
    margin-left: 22px;
    .new-mails {
      display: inline-block;
      float: right;
      color: white;
      background-color: $primary-light;
      padding: 1px 6px;
      margin-top: -2px;
      font-size: 12px;
      margin-right: 5px;
      border-radius: 10px;
    }
    &.active {
      background-color: $primary-light;
      color: white;
      &:hover {
        background-color: $primary-light;
      }
      .new-mails {
        color: $primary-light;
        background-color: white;
      }
      transition: background-color .2s ease;
    }
    &:hover {
      background-color: $border-light;
    }
  }
  .compose-button {
    margin: 7px 0;
    .btn {
      width: 150px;
      color: white;
      font-weight: 100;
      background-color: $dribble-color;
    }
  }
}

.labels, .add-label-container{
  margin-top: 16px;
  margin-left: 22px;
}

.labels-title{
  padding-left: 10px;
  border-bottom: 1px solid $border-light;
  .label-header{
    line-height: 24px;
  }
}

.label-item{
  margin: 10px 0 0 10px;
}

.add-label-container{
  padding-left: 10px;
  font-size: 16px;
  font-weight: 100;
  .label-input-stub{
    margin-left: 5px;
  }
  i{
    cursor: pointer;
  }
}

.margin-left {
  margin-left: 10px;
}

.messages-control{
  padding: 10px;

  .dropdown-menu {
    margin-left: 10px;
  }

  .btn{
    background-color: transparent;
    border: 1px solid $border-light;
  }

  .more-button {
    width: 60px;

    font-size: 12px;
    font-weight: 100;
  }

  span.select-all-label{
    font-size: 13px;
    font-weight: 100;
  }
}


.message-container, .side-message-navigation, .mail-navigation-container {
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 650px;
  overflow: scroll;
}

.side-message-navigation{
  padding: 10px 0 0 0;
  width: calc(100% - 300px);
  box-shadow: -4px 0 7px -2px  $input-border;
  .side-message-navigation-item{
    border-bottom: 1px solid $input-border;
    &.work {
      border-left:4px solid $primary-light;
    }

    &.study {
      border-left:4px solid $google-color;
    }

    &.family {
      border-left:4px solid $warning;
    }

    &.friend {
      border-left:4px solid $danger;
    }
  }
}

.mail-body-part{
  text-overflow: ellipsis;
  height: 16px;
  overflow: hidden;
  margin-top: 3px;
  margin-left: 5px;
}



.border-tag{

}

.mail-tag.tag.label{
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  width: 65px;
}

.phone-email{
  i{
    color:$primary-dark;
  }
}

.message-container {
  width: calc(100% - 320px);
  padding: 15px 0 10px 30px;
  box-shadow: -4px 0 7px -2px $input-border;
  overflow: inherit;
}


.control-container {
  background-color: #ebebeb;
  padding-left: 15px;
  margin-bottom: 30px;

  .icon-buttons {
    margin-left: -10px;
  }
  .btn-icon {
    background-color: $dribble-color;
    color: white;
    height: 35px;
    width: 35px;
    font-size: 16px;
    margin-left: -3px;
  }

  .btn.btn-icon.dropdown-toggle {
    width: 50px;
    &.margin-left {
      margin-left: 10px;
    }
  }
  .dropdown-menu {
    margin-left: 10px;
  }

  .more-button {
    font-size: 12px;
    font-weight: 100;
  }
}

.little-human {
  cursor: pointer;
  transition: border-left 1.5s ease;
  .little-human-picture {
    width: 45px;
    height: 45px;
    border-radius: 23px;
    margin: 7px 0 7px 7px;
    transition: all .2s ease-in-out;
  }
  .name {
    font-size: 14px;
    vertical-align: super;
    white-space: nowrap;
  }
  .name-wrap{
    margin-left: 10px;
  }
  .date {
    float: right;
    margin-top: 10px;
    display: inline-block;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
  }
  .tag {
    vertical-align: super;
  }
  .subject {
    font-size: 14px;
    white-space: nowrap;
  }
  &:hover {
    .little-human-picture {
      transform: rotate(5deg);
    }
      color: $dribble-color;
  }
}

.mail-checkbox{
  margin-top: 5px;
  margin-left: 6px;
}

.tag {
  text-transform: lowercase;
  font-size: 11px;
  font-weight: 100;
  width: 45px;
  cursor: pointer;
  display: inline-block;
  &.label {
    padding: .2em .5em;
    border-radius: 2px;
    line-height: 1.1;
  }
  &.work {
    background-color: $primary-light;
  }

  &.study {
    background-color: $google-color;
  }

  &.family {
    background-color: $warning;
  }

  &.friend {
    background-color: $danger;
  }
}

.messages {
  overflow: auto;
  table {
    width: 100%;
  }
}

.important {
  color: $warning;
}

.message-control-icon {
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.person-info {
  padding: 0 0 10px 15px;
  margin-top: 10px;
  .human-picture {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-top: -115px;
  }

  .name {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    h2 {
      margin-bottom: 0;
      font-size: 24px;
    }
  }

}

.no-padding {
  padding: 0;
}

.contact-info {
  display: inline-block;
  div {
    margin-top: 10px;
  }
  &.phone-email {
    .ion-iphone {
      font-size: 32px;
      width: 27px;
      display: inline-block;
    }
    .phone {
      font-size: 19px;
      font-weight: 200;
      vertical-align: super;
    }
    .ion-email {
      font-size: 24px;
      width: 27px;
      display: inline-block;
    }
    .email {
      font-size: 16px;
      font-weight: 200;
      vertical-align: super;
    }
  }

  &.position-address {
    div {
      margin-top: 17px;
    }
    .position {
      font-size: 20px;
      font-weight: 100;
    }

    .address {
      font-size: 16px;
      font-weight: 100;
    }
  }
}

.message-details {
  margin: 5px 0;
  .subject {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 100;
  }
  .control-icons {
    float: right;
    font-size: 20px;
    margin-right: 40px;
    i {
      cursor: pointer;
    }
  }
}

.message-body {
  margin: 20px 0;
  font-weight: 100;
  line-height: 18px;
  p {
    margin-bottom: 0;
  }
}

.attachment {
  margin: 5px 0;
  .file-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .file-name {
    font-size: 14px;
    margin-left: 3px;
    position: relative;
    top: -3px;
    font-weight: 100;
  }

  .file-links {
    font-size: 14px;
  }
}

.line {
  height: 1px;
  background-color: $input-border;
  opacity: 0.3;
}

.answer-button {
  margin-left: 20px;
  color: white;
  font-size: 16px;
  font-weight: 100;
  padding-left: 40px;
  padding-right: 40px;
  background-color: $dribble-color;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
  &.focus {
    color: white;
  }
}

.answer-container {
  float: right;
  margin-top: 10px;
  .btn{
    margin-top: 3px;
    background-color: $primary-light;
    border: none;
    color: white;
    width: 100px;
    transition: none;
    &:hover{
      transform: none;
      background-color: $danger;
    }
  }
}

.second-name {
  margin-top: -7px;
}
@media screen and (max-width: 1199px) {
  .name-h{
    display: inline;
  }
  .person-info .human-picture {
    margin-top: -45px;
  }
  .second-name {
    margin-top: 0;
  }
}

@media screen and (max-width: 990px) {
  .mail-navigation-container{
    width: 200px
  }

  .side-message-navigation {
    width: calc(100% - 200px);
  }

  .message-container {
    width: calc(100% - 220px);
  }

  .person-info .human-picture {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 5px auto;
    display: block;

  }

  .person-info{
    padding-left: 0;
  }

  .message-container{
    padding-left: 15px;
  }

  .back-button, .contact-info{
    margin-left: 15px;
  }

  .additional-info{
    display: none;
  }

  .little-human .date {
    font-size: 10px;
  }

  .margin-left{
    margin-left: 5px;
  }

}

@media screen and (max-width: 650px) {

  .mail-navigation-container{
    width: 175px
  }

  .side-message-navigation {
    width: calc(100% - 175px);
  }

  .message-container {
    width: calc(100% - 185px);
  }

  .mail-body-part{
    display: none;
  }
  .little-human .little-human-picture{
    display: none;
  }
  .messages-control .more-button {
    width: 50px;
  }
}
@media screen and (max-width: 470px) {


  .mail-navigation-container{
    width: 155px
  }

  .side-message-navigation {
    width: calc(100% - 155px);
  }

  .message-container {
    width: calc(100% - 165px);
  }

  .mail-navigation-container .compose-button .btn {
    width: 110px;
  }

  .mail-navigation-container .mail-navigation {
    font-size: 14px;
  }

  .mail-navigation-container .mail-navigation .new-mails{
    padding: 0px 5px;
    margin-top: 0px;
    font-size: 12px;
  }

  .mail-navigation-container .mail-navigation, .labels {
    margin-left: 10px;
  }

  .add-label-container {
     padding-left: 0;
    font-size: 13px;
    font-weight: 100;
  }

}




