@mixin icon-hover($color) {
  i:hover {
    color: $color;
  }
}

.icons-list {
  & > div {
    text-align: center;
    margin-bottom: 32px;
  }
  i {
    font-weight: $font-normal;
    font-size: 18px;
    cursor: pointer;
  }

  &.primary {
    @include icon-hover($primary);
  }
  &.success {
    @include icon-hover($success);
  }
  &.warning {
    @include icon-hover($warning);
  }
  &.danger {
    @include icon-hover($danger);
  }
}

a.see-all-icons {
  float: right;
}

.awesomeIcons{
  height: 308px;
}

.kameleon-row {
  width: 20%;
  float: left;
  min-height: 80px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 12px;
  & > div {
    width: 70%;
  }
}

.kameleon-icon {
  text-align: center;
  margin: 0 auto;
  max-width: 84px;
  img {
    width: 100%;
  }
  span {
    display: block;
    text-align: center;
    white-space: nowrap;
  }
}

@mixin setImgBg($color) {
  img {
    background: $color;
  }
}

.with-round-bg {
  margin-bottom: 6px;
  img {
    border-radius: 50%;
    margin-bottom: 4px;
  }
  @include setImgBg($default);

  &.success {
    @include setImgBg($success);
  }
  &.danger {
    @include setImgBg($danger);
  }
  &.warning {
    @include setImgBg($warning);
  }
  &.info {
    @include setImgBg($info);
  }
  &.primary {
    @include setImgBg($primary);
  }
}

@media (max-width: 1500px) and (min-width: $resL), (max-width: $resS) {
  .kameleon-row {
    width: 25%;
  }
}

