.tpl-skin-panel {
  width: 300px;
  .tpl-skin-option {
    padding: 10px;
    line-height: 83px;

    &:hover {
      cursor: pointer;
      background-color: $primary;
      color: white;
    }
    + .tpl-skin-option {
      border-top: 1px solid #999;
    }
  }
  .skin-thumbnail {
    width: 100%;
  }
}