<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <blur-panel title="Form Wizard" class-container="with-scroll">
                <ba-wizard>
                    <ba-wizard-tab title="Personal info" form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.personalInfoForm.username.$invalid && (vm.personalInfoForm.username.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleUsername1">Username</label>
                                        <input type="text" class="form-control" id="exampleUsername1" name="username" placeholder="Username" ng-model="vm.personalInfo.username" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.email.$invalid && (vm.personalInfoForm.email.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" ng-model="vm.personalInfo.email" required>
                                        <span class="help-block error-block basic-block">Proper email required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" ng-model="vm.personalInfo.password" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group"  ng-class="{'has-error': !vm.arePersonalInfoPasswordsEqual() && (vm.personalInfoForm.confirmPassword.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputConfirmPassword1">Confirm Password</label>
                                        <input type="password" class="form-control" id="exampleInputConfirmPassword1" name="confirmPassword" placeholder="Confirm Password" ng-model="vm.personalInfo.confirmPassword" required>
                                        <span class="help-block error-block basic-block">Passwords should match</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-tab>
                  <ba-wizard-tab title="Product Info" form="vm.productInfoForm">
                      <form name="vm.productInfoForm" novalidate>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="inputFirstName">First Name</label>
                                      <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model="vm.productInfo.fName" required>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="inputLastName">Last Name</label>
                                      <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="vm.productInfo.lName" required>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="inputFirstName">Email</label>
                                      <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="vm.productInfo.email" required>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="inputWebsite">Website</label>
                                      <input type="text" class="form-control" id="inputWebsite" placeholder="Website" ng-model="vm.productInfo.website" required>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </ba-wizard-tab>
                  <ba-wizard-tab title="Payment"  form="vm.paymentForm">
                      <form class="row form-inline" name="vm.paymentForm" novalidate>
                          <div class="form-group col-sm-3 col-xs-6">
                              <input type="text" class="form-control" id="exampleInputName2" placeholder="Name" ng-model="vm.payment.name" required>
                          </div>
                          <div class="form-group col-sm-3 col-xs-6">
                              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" ng-model="vm.payment.email" required>
                          </div>
                          <div class="checkbox">
                              <label class="custom-checkbox">
                                  <input type="checkbox">
                                  <span>Remember me</span>
                              </label>
                          </div>
                          <button type="submit" class="btn btn-primary">Send invitation</button>
                      </form>
                  </ba-wizard-tab>
                  <ba-wizard-tab title="Finish">
                      <form class="form-horizontal" name="vm.finishForm" novalidate>
                          <div class="form-group">
                              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                              <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                              <div class="col-sm-10">
                                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <div class="checkbox">
                                      <label class="custom-checkbox">
                                          <input type="checkbox">
                                          <span>Remember me</span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-warning">Sign in</button>
                              </div>
                          </div>
                      </form>
                  </ba-wizard-tab>
              </ba-wizard>
            </blur-panel>
        </div>
    </div>

</div>