.feed-message {
  $text-message-color: $default;
  $video-message-color: $danger;
  $image-message-color: $success;
  $geo-message-color: $primary;

  min-height: 90px;
  overflow: hidden;
  padding: 15px 0 30px;
  &:first-child {
    padding-top: 0;
  }

  .message-icon {
    width: 60px;
    height: 60px;
    float: left;
    position: relative;

    > img, .media-icon {
      border-radius: 30px;
      width: 100%;
      height: 100%;
    }

    .media-icon {
      display: inline-block;
      padding: 4px;
      &:after {
        content: '';
        display: inline-block;
        width: 52px;
        height: 52px;
        background-size: contain;
      }
      &.video-message {
        background: $video-message-color;
        &:after {
          @include bg-image('theme/icon/feed/feed-video.svg');
        }
      }
      &.image-message {
        background: $image-message-color;
        padding: 15px;
        &:after {
          width: 30px;
          height: 30px;
          @include bg-image('theme/icon/feed/feed-image.svg');
        }
      }
      &.geo-message {
        background: $geo-message-color;
        padding: 15px;
        &:after {
          width: 30px;
          height: 30px;
          @include bg-image('theme/icon/feed/feed-location.svg');
        }
      }
    }

    .sub-photo-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      right: -2px;
      bottom: -4px;
      border: 2px solid #fff;
    }
  }

  .text-block {
    position: relative;
    border-radius: 5px;
    margin: 0 0 0 80px;
    padding: 7px 10px;
    color: #fff;
    width: 280px;
    height: 70px;

    &:before {
      display: none;
      content: '';
      position: absolute;
      top: 8px;
      right: 100%;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-right: 7px solid #fff;
    }

    &.text-message {
      background: $text-message-color;
      &:before { border-right-color: $text-message-color; }
      color: $default-text;
      font-size: 12px;
      width: inherit;
      max-width: calc(100% - 80px);
      height: inherit;
      &:before {
        display: block;
      }
      .message-content {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &.video-message {
      background: $video-message-color;
      &:before { border-right-color: $video-message-color; }
    }
    &.image-message {
      background: $image-message-color;
      &:before { border-right-color: $image-message-color; }
    }
    &.geo-message {
      background: $geo-message-color;
      &:before { border-right-color: $geo-message-color; }
    }
    &.small-message {
      width: 155px;
      height: 145px;
      .preview {
        bottom: 0;
        top: initial;
        height: 87px;
        img {
          width: 155px;
          height: 87px;
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }

  .message-header {
    font-size: 12px;
    padding-bottom: 5px;
    .author {
      font-weight: $font-bold;
      padding-right: 5px;
    }
  }

  .message-content {
    font-size: 18px;
    line-height: 20px;
  }

  .preview {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 70px;
    img {
      width: 125px;
      height: 70px;
      border-radius: 0 5px 5px 0;
      float: none!important;
    }
  }

  .message-time {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -22px;
    font-size: 11px;
    padding-top: 5px;
    color: $help-text;
    .post-time {
      float: left;
    }
    .ago-time {
      float: right;
    }
  }

  &.right {
    .message-icon {
      float: right;
    }
    .text-block {
      float: right;
      margin: 0 19px 0 0;
      &:before {
        left: calc(100% - 2px);
        transform: rotate(180deg);
      }
    }
  }
}
