.panel.popular-app {
  &>.panel-body {
    padding: 0;
  }

  .popular-app-img {
    position: relative;
    padding: 30px 0;
    height: 260px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    img {
      max-width: 85%;
      position: absolute;
      transform: translateY(-50%) translate(-50%);
      top: 50%;
      left: 50%;
    }
  }
  .popular-app-cost {
    font-size: 20px;
    padding: 20px 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
  }
  .popular-app-info {
    padding: 20px 22px;
    font-size: 20px;
    text-align: center;
    .info-label {
      font-size: 12px;
    }
  }
  .row {
    margin: 0;
    > div {
      padding: 0;
    }
  }
}
