.channels-block {
  width: 100%;
  position: relative;
}

.channels-info {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-top: -11px;
  & > div {
    padding: 0 0 0 540px;
  }
}

.channels-info-item {
  margin-bottom: 19px;
  p {
    margin-bottom: 9px;
  }
}

.traffic-chart {
  width: 500px;
  margin-left: -100%;
  position: relative;
  min-height: 300px;
  float: left;
  .canvas-holder {
    width: 300px;
    height: 300px;
    position: relative;
  }
  ul.doughnut-legend {
    padding: 0 0 0 350px;
    margin: -250px 0 0 0;
    li {
      list-style: none;
      font-size: 12px;
      margin-bottom: 12px;
      line-height: 16px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        float: left;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}

.traffic-text {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -24px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  color: $danger;
  span {
    display: block;
    color: $default-text;
  }
}

.channel-change {
  display: block;
  margin-bottom: 12px;
}

.channel-progress {
  height: 16px;
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
}

@mixin doughnut-center() {
  .traffic-chart {
    ul.doughnut-legend {
      padding: 0;
      margin: 40px 0 0 0;
      li {
        width: 50%;
        float: left;
      }
    }
    .canvas-holder {
      margin: 0 auto;
    }
  }
}

@media (max-width: $resXXL) and (min-width: $resL), (max-width: $resS) {
  @include doughnut-center();
}

@media (max-width: 380px) {
  $size: 250px;
  .traffic-chart .canvas-holder {
    width: $size;
    height: $size;
    canvas {
      width: $size;
      height: $size;
    }
  }
}

@media (max-width: 1800px) {
  .channels-info {
    display: none;
  }
  .traffic-chart {
    width: auto;
    margin: 0 0 20px 0;
    float: none;
  }
}