$panel-title-height: 35px;

.panel {
  border: none;
  border-radius: 0px;
  background-color: $panel-bg;
  position: relative;
  transition: all 0.2s ease;
  margin-bottom: 24px;
  &:hover {
    background: $panel-bg-hover;
  }
  &.animated {
    animation-duration: 0.5s;
  }
  &.small-panel {
    height: $small-panel-height;
  }
  &.medium-panel {
    height: $medium-panel-height;
  }
  &.xmedium-panel {
    height: $extra-medium-panel-height;
  }
  &.large-panel {
    height: $large-panel-height;
  }
  &.viewport100 {
    height: calc(100vh - 212px);
  }

  &.with-scroll {
    .panel-body {
      height: calc(100% - #{$panel-title-height});
      .panel-content {
        overflow-y: auto;
      }
    }
  }
}

.panel-heading, .panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  padding: 0 22px;
  color: $default-text;
}

.panel-title {
  height: $panel-title-height;
  line-height: 20px;
  padding-top: 15px;
}

.panel-body {
  padding: 0;
}
.panel-content {
  padding: 15px 22px;
  height: 100%;
}