.pie-charts {
  color: $default-text;

  .pie-chart-item {
    position: relative;
    .chart-icon {
      position: absolute;
      right: 0px;
      top: 3px;
    }
  }
  @media screen and (max-width: 1650px) {
    //todo: add other cases when on the one row two or one chart
    .chart-icon {
      display: none;
    }
  }
  .chart {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
    float: left;
  }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    display: inline-block;
    line-height: 84px;
    z-index: 2;
    font-size: 16px;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
  .description {
    display: inline-block;
    padding: 20px 0 0 20px;
    .description-stats {
      padding-top: 4px;
      font-size: 24px;
    }
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}