<div class="side-message-navigation">
  <div class="mail-messages-control side-message-navigation-item">
    <label class="checkbox-inline custom-checkbox nowrap margin-left">
      <input type="checkbox" id="inlineCheckbox01" value="option1">
      <span class="select-all-label">Select All</span>
    </label>
    <button type="button" class="btn  btn-icon margin-left"><i class="ion-refresh"></i></button>
    <div class="btn-group margin-left" uib-dropdown>
      <button type="button" class="btn more-button" uib-dropdown-toggle>
        More <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu>
        <li><a href>Action</a></li>
        <li><a href>Another action</a></li>
        <li><a href>Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href>Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="messages">
    <table>
      <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:'-date'"
          class="side-message-navigation-item little-human shineHover {{m.tag}}">
        <td>
          <div class="mail-checkbox">
            <label class="checkbox-inline custom-checkbox nowrap margin-left">
              <input type="checkbox">
              <span></span>
            </label>
          </div>
        </td>
        <td  ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"><img ng-src="{{m.name.split(' ')[0] | profilePicture}}" class="little-human-picture"></td>
        <td  ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
          <div class="margin-left">
            <div><span class="name">{{m.name.split(' ')[0] + ' ' + m.name.split(' ')[1][0]}}.</span></div>
            <div><span class="tag label label-primary {{m.tag}}">{{m.tag}}</span></div>
          </div>
        </td>
        <td  ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
          <div class="margin-left additional-info">
            <span class="subject"> {{m.subject}}</span>
          </div>
        </td>
        <td  ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})">
          <div class="mail-body-part">{{m.body | plainText}}</div>
        </td>
        <td class="date">
          <span>{{m.date | date : 'MMM d HH:mm'}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>