body.badmin-transparent {
  @include overrideColors(#fff);
  @include overridePanelBg(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  .default-color{
    color: $default-text!important;;
  }
  .panel.panel-blur{
    border-radius: 5px;
    color: $default;
    .panel-heading{
      border-bottom: 1px solid rgba(0,0,0,0.12);
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
    }
  }
  .btn-default{
    color: $default;
  }
  .form-control, .bootstrap-tagsinput input {
    @include placeholderStyle($default, 0.8);
    background-color: transparent;
    color: $default;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    @include placeholderStyle($default, 0.6);
  }
}