body.badmin-transblue {
  background-image: url(../../../assets/img/transblue-bg.jpg);

  @include overrideColors(#fff);
  @include overridePanelBg(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}