.content-top {
  padding-top: 13px;
  padding-bottom: 27px;
}

h1.al-title {
  font-weight: normal;
  color: #ffffff;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.al-breadcrumb {
  background: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  float: right;
  padding-top: 11px;
  li {
    font-size: 18px;
    font-weight: 100;
  }
}

.al-look {
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  > a {
    font-size: 19px;
  }
}