$left-space: 180px;

@include scrollbars(.5em, #d9d9d9, rgba(0,0,0,0));

html {
  position: relative;
  min-width: 320px;
}

html, body {
  min-height: 100%;
  min-width: $resMin;
}

body {
  font: 14px/16px $font-family;
  color: $default-text;
  background-color: $body-bg;
  &.blur-theme {
    @include main-background();
  }
}

body.mobile{
  background: none;
  .body-bg{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: inherit;
    background-color: $body-bg;
  }
  &.blur-theme .body-bg{
    @include main-background();
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
  html{
    overflow: hidden;
    height: 100%;
  }
  body{
    overflow: auto;
    height: 100%;
  }
}

a {
  transition: color 0.5s ease;
  outline: 0 !important;
}

.body-bg{
  display: none;
}
.al-header {
  display: block;
  height: 49px;
  margin: 0;
  background-repeat: repeat-x;
  position: relative;
  z-index: 905;
  color: #444444;
}

.al-main {
  margin-left: $left-space;
  padding: 66px 0 34px 0;
  min-height: 500px;
}

.al-footer {
  height: 34px;
  padding: 0px 18px 0 $left-space;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  font-size: 13px;
  color: $default-text;
  transition: padding-left 0.5s ease;
}

.al-footer-main {
  float: left;
  margin-left: 15px;
}

.al-copy {
  float: left;
}

.al-footer-right {
  float: right;
  margin-right: 12px;
  i {
    margin: 0 4px;
    color: $danger;
    font-size: 12px;
  }
  a {
    margin-left: 4px;
    color: $default-text;
    &:hover {
      color: $danger;
    }
  }
}

.al-share {
  margin: -6px 0 0 12px;
  padding: 0;
  list-style: none;
  float: left;
  li {
    list-style: none;
    float: left;
    margin-left: 16px;
    i {
      cursor: pointer;
      transition: all 0.1s ease;
      color: white;
      padding: 6px;
      box-sizing: content-box;
      font-size: 16px;
      &:hover {
        transform: scale(1.2);
      }
    }
    i.fa-facebook-square {
      color: $facebook-color;
    }
    i.fa-twitter-square {
      color: $twitter-color;
    }
    i.fa-google-plus-square {
      color: $google-color;
    }
  }
}

.al-content {
  padding: 8px 32px 8px 40px;
}

@media screen and (max-width: $resXS) {
  .al-content {
    padding: 8px 20px;
  }
}

.vis-hidden {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.icon-up, .icon-down {
  width: 5px;
  height: 13px;
  display: block;
}

.icon-up {
  @include bg-nr('arrow-green-up.svg');
}

.icon-down {
  @include bg-nr('arrow-red-down.svg');
}

.disable-text-selection {
  -webkit-touch-callout: none;
  user-select: none;
}

.align-right {
  text-align: right
}

.amcharts-chart-div > a {
  font-size: 6px !important;
}

.content-panel {
  padding-left: 22px;
  padding-top: 26px;
}

@media (max-width: 590px) {
  .al-footer-right {
    float: none;
    margin-bottom: 19px;
    margin-right: 0;
  }
  .al-footer {
    height: 76px;
    text-align: center;
  }
  .al-main {
    padding-bottom: 76px;
  }
  .al-footer-main {
    float: none;
    display: inline-block;
  }
}

.full-invisible {
  visibility: hidden!important;
  * {
    visibility: hidden!important;
  }
}

.irs-grid-text {
  color: $default-text;
}




.no-gutter {
  padding-left:0;
    padding-right:0;
}

#surveys #sidebar button {
  margin-bottom:10px;
}

#surveys .new-question-container {
  margin:25px 0;
}

#surveys .saved-questions .progress-button .content:after,#surveys .saved-questions .progress-button .content:before, #surveys .survey-template .progress-button .content:after,#surveys .survey-template .progress-button .content:before {
    content: "\f054" !important;
    opacity: 1 !important;
}

#surveys #survey-builder .new-question-options-container .panel-heading .btn-group{
    margin-top: -25px;
}

#surveys  #survey-builder [contenteditable='true']:hover{
  cursor:pointer;
  border: 1px dashed;
  padding: 5px;
  position:relative;
}
#surveys  #survey-builder [contenteditable='true']:after{
  content: "\f040";
  font-family: FontAwesome;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 5px;
}
#surveys  #survey-builder [contenteditable='true']:hover:after{
  opacity: 1;
}

#surveys  #survey-sending .compose-container .ta-text.ta-editor {
    background-color: #F5F5F5;
}

#surveys  #survey-sending input {
    margin : 10px 0;
}

#surveys  #survey-sending .btn-group, .btn-group-vertical {
    margin-right: 20px;
}

#surveys  #survey-sending .compose-container {
    background-color: white; 
}
#surveys  #survey-sending .compose-footer {
    background-color: white; 
}





.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}

.ba-wizard-navigation{
display: inline-block !important;
color: rgb(255, 255, 255); background-color: #60afdd;
display: inline-block; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 36px !important; border-radius: 80px; width: 80px; height: 80px; line-height: 80px !important; margin: 3px; text-align: center;
} 

.ba-wizard-navigation-container {
    padding: 0px 0 !important;
}
.ba-wizard-navigation.active{
background-color: white;
}
.ba-wizard-navigation .little-human-picture {
  border-radius: 80px; width: 80px; height: 80px;margin-top: -5px;
}

.ng-invalid.form-control {
    border: 1px solid #ed7878;
}

#surveys .progress{
    margin: 10px;
}

#analysis .panel-group .panel {
    margin-bottom: 25px;
}
#analysis .bootstrap-panel .panel-body {
    padding: 15px !important;
}