.rightHeading{
  display:block;
  float:right;
}

.center{
  text-align: center;
}

.weather-info{
  padding-left: 15px;
}

.font50up{
    font-size: 1.5em;
}

.font-x2{
    font-size: 2em;
}

.font-x3{
  font-size: 3em;
}

.font-x4{
  font-size: 4em;
}
