<style>
  aside, div.page-top , footer, div.content-top {display:none !important;}
  .al-main {margin-left:0 !important;}
</style>

<div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="{{vm.survey.name}}" ba-panel-class="with-scroll">

              <div class="section-block bold-text ng-scope"><p ng-bind-html="vm.survey.description"></p></div>

              <div class="separator"></div>

              
              <div id="{{e.id}}" class="form-group answer" ng-repeat="e in vm.survey.elements">
                <p>{{ e.text }}</p>
                  <label ng-class="el.multiple ? 'custom-checkbox radio-checkbox  nowrap' : 'custom-radio radio-inline  nowrap'" ng-repeat="el in e.items">
                    <input ng-attr-type="{{el.multiple? 'checkbox' : 'radio'}}" name="{{ e._id }}" id="{{ e._id }}_{{ el._id }}" value="{{ el.value }}" ng-required="el.required">
                    <span>{{ el.value }}</span>
                  </label>
                  <br><br>
                  <div class="form-group" ng-if="e.hasComment">
                    <label for="input01">{{e.commentLabel}}</label>
                    <input type="text" class="form-control" id="{{ e._id }}_comment" name="{{ e._id }}_comment" placeholder="..." >
                  </div>
                  <div class="separator"></div>
              </div>

              <div class="btn-group">
                  <button ng-click="submitSurvey()" class="btn btn-success btn-lg">
                    Send
                  </button>
              </div>

            </div>
        </div>
</div>