<style>
  aside, div.page-top , footer, div.content-top {display:none !important;}
  .al-main {margin-left:0 !important;}
</style>

<div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="{{vm.survey.name}}" ba-panel-class="with-scroll">

              <div class="section-block bold-text ng-scope"><p ng-bind-html="vm.survey.description"></p></div>

              <div class="separator"></div>
              <ba-wizard>

                    <ba-wizard-step title="{{ m.id != vm.activeMemberId ? vm.getInitials(m.name) : 'ME' }}" ng-repeat="m in vm.members track by $index" ng-init="memberId = m.id" form="vm.forms[memberId]" mid="{{ m.id }}" elements="{{vm.survey.elements}}" evaluated="{{m}}" asked="{{vm.askedMember}}">
                    <form name="vm.forms[memberId]" novalidate ng-if="m.id != 'none'">
                      <ng-form name="innerForm">
                        <div class="member-survey">
                          <div class="separator"></div>
                          <h3 class="member-full-name">{{ m.name }}</h3>
                          <div class="separator"></div>
                          <div id="{{e.id}}" class="form-group answer" ng-repeat="e in vm.survey.elements"
                            ng-init="elementId = vm.survey.id+'_'+memberId+'_'+vm.activeMemberId+'_'+e._id" ng-class="{'has-error': innerForm[elementId].$invalid && (vm.forms[memberId].$submitted)}">
                            <input type="hidden" name="{{ elementId }}_submitted" ng-model="vm.innerForm[elementId].submitted" ng-value="false"/>
                            <!--<input type="hidden" name="{{ elementId }}_question" ng-model="vm.innerForm[elementId].question.$viewValue" ng-value="e"/>-->
                            <p>{{ e.text }}</p>
                              <label ng-class="el.multiple ? 'custom-checkbox radio-checkbox  nowrap' : 'custom-radio radio-inline  nowrap'" ng-repeat="el in e.items">
                                <input ng-attr-type="{{el.multiple? 'checkbox' : 'radio'}}" name="{{elementId}}"  ng-model="vm.innerForm[elementId].$viewValue" ng-value="el.value" ng-attr-required="{{el.required}}">
                                <span>{{ el.value }}</span>
                              </label>
                              <br><br>
                              <div class="form-group" ng-if="e.hasComment">
                                <label for="{{ e._id }}_comment">{{e.commentLabel}}</label>
                                <input type="text" class="form-control" name="{{ elementId }}_comment" ng-model="vm.innerForm[elementId].comment" placeholder="..." ng-attr-required="{{e.commentIsRequired}}">
                              </div>
                              <div class="separator"></div>
                          </div>
                        </div>
                        </ng-form>
                      </form>
                      <form class="form-horizontal" name="vm.finishForm" novalidate ng-if="m.id == 'none'">
                        <div class="separator"></div>
                          <h3 class="member-full-name">Congratulations! You have successfully filled the form!</h3>
                          <div class="separator"></div>
                            
                      </form>
                    </ba-wizard-step>

                   
                    
              </ba-wizard>      
              

            </div>
        </div>
</div>