<div class="row">
    <div class="col-md-8" ng-controller="chartJs1DCtrl">
        <div ba-panel ba-panel-title="Current Sprint" ba-panel-class="with-scroll ">
            <div class="row">
                <div class="col-md-6">
                    <canvas id="doughnut" chart-options="options" class="chart chart-doughnut"
                        chart-data="progressData" chart-labels="progressLabels" chart-colors="progressColors" chart-click="changeData">
                    </canvas>
                </div>

                <div class="col-md-6">
                    <canvas id="pie" class="chart chart-pie"
                        chart-options="options" chart-data="teamData" chart-labels="teamLabels"
                        chart-click="changeData" chart-colors="teamColors">
                    </canvas>
                </div>
            </div>
        </div>

        <div ba-panel ba-panel-title="Behat results" ba-panel-class="with-scroll">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="behat-box failed" data-ng-class="{'no-results': behatResults.failed === 0}">
                        <p>Failed</p>
                        <h1>{{behatResults.failed}}</h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="behat-box passed" data-ng-class="{'no-results': behatResults.passed === 0}">
                        <p>Passed</p>
                        <h1>{{behatResults.passed}}</h1>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <hr style="margin: 30px 8%;"/>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h4>Windows</h4>

                    <div class="browser-row" data-ng-repeat="(browser, results) in behatResults.windows" data-ng-class="results.percentage === 100 ? 'passed' : results.percentage === 0 ? 'no-results' : 'failed'">
                        <ul>
                            <li>
                                <span>{{results.name}}</span><span style="float: right;">{{results.percentage}}%</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4>Mac</h4>
                    
                    <div class="browser-row" data-ng-repeat="(browser, results) in behatResults.mac" data-ng-class="results.percentage === 100 ? 'passed' : results.percentage === 0 ? 'no-results' : 'failed'">
                        <ul>
                            <li>
                                <span>{{results.name}}</span><span style="float: right;">{{results.percentage}}%</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4" ng-controller="chartJs3DCtrl">
        <div ba-panel ba-panel-title="Work in progress" ba-panel-class="with-scroll ">
            <div class="item" data-ng-repeat="story in workInProgress track by $index" style="border-bottom: 1px solid #E6EAEE; margin-bottom: 6px;">
                <div style="font-weight: 600;"><span data-ng-repeat="owner in story.owners" class="list-of-words">{{owner.name}}</span> <span style="float: right;">#{{story.id}}</span></div>
                <p style="padding-top: 3px;">{{story.name}}</p>
            </div>
        </div>
    </div>
</div>